/* -------- ANIMATIONS PORTION -------- */
@keyframes slidein {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* -------- HOME MAIN SECTION -------- */  
.game-selection {
    padding-top: 120px;
    display: flex;
    gap: 30px;
    animation: slidein 2s forwards;
}

.game-title {
    font-family: "Jersey 15", sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: rgb(0, 29, 135);
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

.game-description {
    color: white;
    font-size: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
    padding: 5px 30px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border: 3px solid rgb(0, 36, 74);
    background-color: rgb(3, 139, 198);
    box-shadow: 10px -2px 1px rgb(0, 92, 132);
    transition: transform 0.3s ease-in-out;
}

.home-play-button {
    background-color: rgb(2, 144, 0);
    position: relative;
    border-radius: 200px;
    border-style: none;
    padding: 10px;
    margin-bottom: 15px;
    bottom: 0;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}

.home-play-button:hover {
    transform: translateY(-5px);
}

.card-container:hover {
    transform: scale(1.05);
}



