/* -------- ANIMATIONS PORTION -------- */
@keyframes updown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* -------- START SCREEN -------- */  
.game-sandbox {
    background-image: url(../assets/space-invaders/space.jpg);
    width: 600px;
    height: 60vh;
    text-align: center;
    position: relative;
}

#gameTitle {
    color: rgb(4, 211, 56);
    font-size: 50px;
    text-shadow: 0 0 20px rgb(0, 220, 44);
    animation: updown 2s ease-in-out infinite alternate;
}

#gameInstructions {
    margin-top: 40px;
    font-size: 25px;
    color: rgb(248, 202, 63);
    text-align: center;
    animation: updown 3s ease-in-out infinite alternate;
}

#shipMovement {
    padding: 20px;
}

#enemy-icon {
    border: none;
    width: 180px;
    height: auto;
    margin: 0;
    padding: 0;
    animation: updown 3s ease-in-out infinite alternate;
}

#keyboard-arrows-img, #spacebar-img {
    border: none;
    width: 100px;
    height: auto;
}

#startGame {
    font-size: 20px;
    font-family: inherit;
    color: white;
    border: none;
    border-radius: 100px;
    margin-top: 20px;
    padding: 10px 40px;
    background-color: rgb(0, 126, 25);
    animation: updown 8s ease-in-out infinite alternate;
}

#startGame:hover {
    background-color: rgb(0, 65, 13);
}

#game-block.disappear > * {
    display: none;
}

/* -------- GAMEPLAY SCREEN -------- */

#scoreCount{
    font-size: 30px;
    margin: auto 10px;
    color: white;
    text-align: left;
}

.enemy {
    border: none;
    width: 50px;
    height: auto;
    padding: 5px;
}

#player {
    border: none;
    width: 60px;
    height: auto;
    transform: rotate(180deg);
    position: absolute;
    left: 300;
    bottom: 0;
}

.bullet {
    width: 5px;
    height: 15px;
    background-color: red;
    position: absolute;
}

#enemyContainer {
    padding-top: 20px;
}

